#add_return_shipment {
  fieldset {
    border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
    margin: 0 -1px 24px 0;
    padding: 1em;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    box-sizing: border-box;
  }
}